spring:
  application:
    name: hexagonal
  datasource:
    url: jdbc:postgresql://localhost:5432/hexagonal_db
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml
    contexts: seed

kafka:
  bootstrap-servers: localhost:9093
  schema-registry-url: http://localhost:8081

logging:
  level:
    org.hibernate.SQL: warn

streams:
  inputs:
    - payload-type: com.bullit.domain.event.SaleEvent
      topic: raw-sales
      group-id: sale-to-royalty
  outputs:
    - payload-type: com.bullit.domain.event.SaleEvent
      topic: raw-sales
    - payload-type: com.bullit.domain.event.RoyaltyReportEvent
      topic: author-royalties
  handlers:
    - handler-class: com.bullit.core.usecase.SaleToRoyaltyHandler